<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xcion.webmage">

    <!-- 保护web浏览的安全性 -->
    <meta-data
        android:name="android.webkit.WebView.EnableSafeBrowing"
        android:value="true" />
    <!-- 保护web浏览的安全性 -->

    <!-- deeplink : packageManager.resolveActivity is null in android 11 -->
<!--    <queries>-->
<!--        <intent>-->
<!--            <action android:name="android.intent.action.VIEW" />-->
<!--            <category android:name="android.intent.category.BROWSABLE" />-->
<!--            <data android:scheme="https" />-->
<!--        </intent>-->
<!--    </queries>-->

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!-- deeplink : packageManager.resolveActivity is null in android 11 -->


</manifest>